<main role="404">
    <a href="/">
        <div class="error">
            <h1>404</h1>
            <h2>You've been caught in a storm or something</h2>
            <h3>You're lost</h3>
            <h4>maybe you should look at a map</h4>
            <h5>because this is ocean themed</h5>
            <h6>ha</h6>
        </div>
    </a>
</main>